<div id="overlay" onclick="toggleMenu()"></div>

<aside id="drawer">
  <h3><%= name %></h3>
  <a href="/">Home</a>
  <a href="/api">Documentation</a>
  <a href="https://github.com/IxanAmd" target="_blank">GitHub</a>
</aside>