<div id="drawer" aria-label="Sidebar menu">
  <a href="/" style="font-weight:bold;">Home documentation</a>

  <% if (endpoints && endpoints.length) { %>
    <% endpoints.forEach(cat => { %>
      <a href="/category/<%= cat.name.toLowerCase().replace(/\s+/g,'-') %>"><%= cat.name %></a>
    <% }) %>
  <% } %>
</div>